

@{
    ViewBag.Title = "Home Page";
}


<div ng-app="Dashboard" ng-controller="dashboardController" name="home">
    <adf-dashboard name="home" collapsible="false" structure="6-6" adf-model="model" />
</div>

