@{
    ViewBag.Title = "Password Reset Failed";
    Layout = "~/Views/Shared/_AnonLayout.cshtml";
}

<div class="panel panel-default">
    <div class="panel-heading"><span class="glyphicon glyphicon-lock" aria-hidden="true" style="margin-right: 4px;"></span>Password Resent Failure</div>
    <div class="panel-body">


        <div class="col-lg-12">
            <h4>Error Resetting Password</h4>
<p>There was a problem resetting your password. You may have entered a user name that is not in the system. Please try again.</p>
        </div>
    </div>
</div>





