@{
    ViewBag.Title = "Password Reset Success";
    Layout = "~/Views/Shared/_AnonLayout.cshtml";
}

<div class="panel panel-default">
    <div class="panel-heading"><span class="glyphicon glyphicon-lock" aria-hidden="true" style="margin-right: 4px;"></span>Password Reset Success</div>
    <div class="panel-body">


        <div class="col-lg-12">
            <h4>Password Reset</h4>
            <p>Your password has been reset. Please login using the new password.</p>
        </div>
    </div>
</div>





