@{
    ViewBag.Title = "Token Sent";
    Layout = "~/Views/Shared/_AnonLayout.cshtml";
}

<div class="panel panel-default">
    <div class="panel-heading"><span class="glyphicon glyphicon-lock" aria-hidden="true" style="margin-right: 4px;"></span>Token Sent</div>
    <div class="panel-body">


        <div class="col-lg-12">
            <h4>An email has been sent to the email address you registered with. Follow the instruction in this email to complete your password reset.</h4>
        </div>
    </div>
</div>





