@using Seed.TriumphSkill
@model Seed.TriumphSkill.ViewModels.Permission
@using (Html.BeginCollectionItem("Permissions"))
{
    <div style="margin-top: 4px; margin-bottom: 4px;">
        <span style="width: 235px; display: inline-block;">
            @Html.HiddenFor(m => m.PermissionInfo.ID)
            @Model.PermissionInfo.Name
        </span>
        @Html.CheckBoxFor(m => m.IsSelected, new { @style = "margin-bottom: 6px; margin-right: 4px;" })
    </div>
}
<script type="text/javascript">
    $(function () {
        $('label[for=View home page]').attr("disabled",true);

    });
</script>

